@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.todolist {
    font-family: "roboto";
    color: white;
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/todolistbg.png");
    height: 120vh;
    background-size: cover;
    text-align: center;
}

.todo {
    font-size: 50px;
}

.book {
    text-align: left;
}

.buttons {
    text-align: center;
    height: 6vh;
    width: 12vh;
    border-width: 3px;
    color: white;
    font-size: 17px;
    background-color: orange;
}

.paragraph {
    text-align: center;
    text-decoration-line: underline;
}